.sx-discount-conditions .sx-rule {
    background: #afffaf3b;
    border: 1px solid green;
    margin: 15px 10px 15px 0px;
    padding: 15px;
    border-radius: 5px;
}

.sx-discount-conditions .sx-group {
    /*background: #c0c0c030;
    border: 1px solid #adadad;*/
    background: #ff980021;
    border: 1px solid green;
    margin: 15px 10px 15px 0px;
    padding: 15px 15px 15px 35px;
    border-radius: 5px;
}
/*

.sx-discount-conditions a {
    text-decoration: none;
    border-bottom: 1px dashed;
}*/


.sx-discount-conditions .sx-rules {
    padding: 10px 0px;
}

.sx-discount-conditions .sx-remove-wrapper {
    display: none;
}

.sx-discount-conditions .sx-row:hover>.sx-conditions>.row>.sx-remove-wrapper,
.sx-discount-conditions .sx-row:hover>.row>.sx-remove-wrapper {
    display: block;
}
